<!DOCTYPE html>
<html>
<head>
    <title>Flask Request Example</title>
</head>
<body>
    <h1>From Simple</h1>
    <button onclick="getData()">Get Data 1</button>
    <p id="result"></p>

    <script>
        function getData() {
            fetch("https://test-simple-nj20.onrender.com/data")   // send request to Flask
                .then(response => response.text())
                .then(data => {
                    document.getElementById("result").innerText = data; // show response
                })
                .catch(error => console.error('Error:', error));
        }
    </script>

</body>
</html>